* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 25px 40px;
  background-color: #fff;
  height: 80px;
}

header img {
  width: 140px;
}

body {
  background-color: #eee;
}

.map-and-stores-wrapper {
  background-color: #fff;
  height: 75vh;
  max-height: 600px;
  display: flex;
  /* overflow: hidden; */
  width: 900px;
  margin: 10px auto 0 auto;
  box-shadow: 3px 3px 3px #ddd;
}

.stores-wrapper {
  /* height: 550px; */
  overflow-y: scroll;
  width: 45%;
  /* padding-left: 10px; */
  border: 1px solid #ddd;
}

.map-wrapper {
  /* height: 550px; */
  width: 55%;
  background-color: #eee;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.popup-store__image {
  width: 100%;
}

.store-item {
  box-shadow: 0px 3px 3px #ddd;
  padding: 20px;
  min-height: 90px;
  color: #444;
}

.store-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.store-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.stores-message {
  padding: 20px 15px;
  font-size: 14px;
}

.locate-user {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #1ab7f2;
  color: #fff;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  cursor: pointer;
}

.loader {
  font-size: 10px;
  margin: 100px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: turquoise;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #eee;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
